.login-page {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.login-left {
  width: 50%;
  background: #f3f0ff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 40px;
  font-weight: bold;
}

.login-left p {
  margin-top: 20px;
  color: #555;
}

/* RIGHT SIDE */
.login-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM BOX */
.login-box {
  width: 400px;
}

/* INPUTS */
.login-input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: linear-gradient(135deg, #7c3aed, #9333ea);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* TEXT */
.login-text {
  margin-top: 10px;
  font-size: 14px;
}

.login-text span {
  color: #7c3aed;
  cursor: pointer;
}