.signup-page {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.signup-left {
  width: 50%;
  background: #f3f0ff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-left h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
}

.signup-left span {
  color: #7c3aed;
}

.signup-left p {
  margin-top: 20px;
  color: #555;
}

/* RIGHT SIDE */
.signup-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM BOX */
.signup-box {
  width: 400px;
}

/* TITLE */
.signup-box h2 {
  margin-bottom: 10px;
}

.signup-box p {
  color: #6b7280;
  margin-bottom: 15px;
}

/* INPUTS */
.signup-input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 14px;
}

/* BUTTON */
.signup-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: linear-gradient(135deg, #7c3aed, #9333ea);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

/* TEXT */
.signup-text {
  margin-top: 12px;
  font-size: 14px;
}

.signup-text span {
  color: #7c3aed;
  cursor: pointer;
}